@import 'variables';

body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
  overflow: hidden;
  font-family: sans-serif;
}

header {
  position: absolute;
  bottom: 40%;
  left: 13%;
  text-transform: uppercase;
  font-size: 4rem;
  color: white;

}

.pointBackground {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url(pictures/ver2.png);
  background-size: 5px;
  z-index: -8;
}

#mainMovie {
  position: fixed;
  top: 44%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(movie/backgroundmovie.ogv) no-repeat;
  background-size: cover;
  z-index: -10;
}

////////////////////////////////////////////SECTION ABOUT ME////////////////////////////////////////////////////////////
.aboutMe {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: -45%;
  width: 50%;
  height: 100vh;
  background-color: $aboutMe-color;
  opacity: 1;
  transition: left 0.5s ease-out 0s;
  z-index: 2;
}

.aboutMe:hover {
  left: 0;
}

.aboutMeContent {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.tab {
  width: 10%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    color: white;
    text-transform: uppercase;
    line-height: 0.1;
    font-weight: bold;
    font-size: 2rem;

  }
}

////////////////////////////////////////////SECTION PORTFOLIO//////////////////////////////////////////////////////////////
.portfolio {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  left: 0;
  top: -72%;
  width: 100%;
  height: 80vh;
  background-color: $portfolio-color;
  opacity: 1;
  transition: top 0.5s ease-out 0s;
}

.portfolio:hover {
  top: 0;
}

.portfolioContent {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.progressBox {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 1%;
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }
}

.textProgress {
  padding: 3%;

  span {
    font-weight: bold;
  }
}

.myWork1 {
  background-image: url(pictures/first-portfolio.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 57%;
  width: 100%;
}

.myWork2 {
  background-image: url(pictures/OnChairWebsite.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 57%;
  width: 100%;
}

.myWork3 {
  background-image: url(pictures/bhagaskara.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 57%;
  width: 100%;
}

.messageheader {
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  padding-top: 1%;
  padding-bottom: 1%;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  input {
    width: 40%;
    vertical-align: top;

    text-align: center;
    border: 1px solid $portfolio-color;
  }
  textarea {
    width: 40%;
    text-align: center;
    border: 1px solid $portfolio-color;
  }
}

////////////////////////////////////////////SECTION SKILLS//////////////////////////////////////////////////////////////

.skills {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  right: -45%;
  width: 50%;
  height: 100vh;
  background-color: $skills-color;
  opacity: 1;
  transition: right 0.5s ease-out 0s;
}

.skills:hover {
  right: 0;
}

.skillsContenener {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.skillsContent {
  width: 90%;
  text-align: center;
  p{
    text-transform: uppercase;
    color: white;
    font-size: 2.5rem;
    letter-spacing: 15px;
  }
}
.skillsIcons{
text-align: center;
  width: 90%;

}

.block{
  display: inline-block;
  vertical-align: middle;
  margin: 2%;
}
.level{
  text-transform: uppercase;
  color: white;
  font-size: 2rem;

}

.icon1{
  background-image: url(pictures/HTML5_Logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 20%;
  width:18%;
}
.icon2{
  background-image: url(pictures/css3_Logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 20%;
  width:18%;
}
.icon3{
  background-image: url(pictures/js_Logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 20%;
  width:18%;
}
.icon4{
  background-image: url(pictures/JQuery_Logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom:11%;
  width:42%;
}
